* {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.2em;
    text-align: justify;
}


/*header style */

header {
    height: 86px;
}

#main-nav.scroll {
    background-color: rgb(255, 255, 255);
}

.navbar-brand {
    font-size: 40px;
    color: rgb(33, 37, 41);
    font-family: 'Merienda', cursive;
    font-weight: 900;
}

.nav-link {
    font-size: 20px;
    color: rgb(33, 37, 41);
    font-family: 'Merienda', cursive;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.navbar-brand:hover,
.map-page:hover {
    color: rgba(33, 37, 41, 0.5);
    text-decoration: none;
}

/* Aside - background, h1 */
.asied-background-photo {
    height: 360px;
    background-size: cover;
    position: relative;
}

#background-first,
#background-third {
    background-position: left;
    transition: all 2s linear;
}

#background-first {
    background-image: url(../img/background1.jpg);
}

#background-third {
    background-image: url(../img/background3.jpg);
}

#background-first:hover,
#background-third:hover {
    background-position: right;
}

#parallax-first {
    background-image: url(../img/machu-picchu-1569324_1280.jpg);
    background-attachment: fixed;
}

.text-shadow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    font-size: 4em;
    color: rgb(255, 255, 255);
    background-color: rgba(33, 37, 41, 0.5);
    text-align: center;
    margin: 0;
    padding: 10px 0;
    font-weight: 900;
}

/*section style */
section,
footer {
    margin: 10px 5%;
    padding: 50px 20px;
}

.content-section {
    overflow: hidden;
}

.section-title {
    text-align: center;
    color: rgb(228, 218, 24);
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 30px;
    font-family: 'Merienda', cursive;
}

.underscore {
    text-align: left;
    color: #e4da18;
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 30px;
    font-family: 'Merienda', cursive;
}

.underscore::after {
    content: "";
    display: block;
    width: 25px;
    margin-top: 10px;
    height: 4px;
    background: black;
}

.map-page {
    font-size: 1.2em;
    color: black;
    display: block;
    margin-bottom: 10px;
}

/* Quiz style*/

p.question {
    text-align: center;
    font-size: 1.5em;

}

.image-box {
    margin-top: 20px;
    text-align: center;
    height: 300px;
    overflow: hidden;
    padding: 10px;
}

.btn {
    transition-duration: 0.5s;
}

.result {
    margin: 50px 0;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(33, 37, 41);
    border: 1px solid #e4da18;
    padding: 10px 40px;
    border-radius: 5px;
    outline: none;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: #e4da18;
    border: 1px solid rgb(33, 37, 41);
    outline: none;
}

.result-message {
    text-align: center;
    font-size: 25px;
    color: #e4da18;
    font-family: 'Merienda', cursive;
    font-weight: bold;
}

.result-message-bad {
    color: rgba(255, 0, 0, 1);
}

.img-quiz {
    height: 90%;
}

h2.foto-name {
    position: relative;
    top: -50%;
    transform: translateY(-50%);
    background-color: rgba(33, 37, 41, 0.8);
    opacity: 0;
}



/*footer style */
footer {
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: rgb(33, 37, 41);
}

.color-white {
    color: rgb(255, 255, 255);
}

footer a {
    color: rgb(255, 255, 255);
}

footer a:hover {
    text-decoration: none;
    color: rgb(228, 218, 24);
}


.img-quiz-select {
    border: 1px solid rgb(228, 218, 24);
}


/*responsive */

@media (max-width: 900px) {

    h1,
    h2 {
        font-size: 2em;
    }

}